# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Large data files - too big for GitLab
data/mitre/enterprise-attack.json
data/malpedia/malpedia.json

# Jupyter checkpoints
.ipynb_checkpoints/

# Model cache
*.pt

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db